<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Успешная регистрация | Кабинет Искателя</title>
    <link
    rel="icon"
    th:href="@{/images/icon/al_vadud_vector_title.svg}"
    type="image/svg"
  />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />

    <!-- ===== Boxicons CSS ===== -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <script defer th:src="@{/js/main.js}"></script>
    <script type="module" th:src="@{/js/header.js}"></script>
  </head>

  <body class="page-contacts">

    <div class="page-video">
      <video
        class="video"
        controls
        loop="loop"
        autoplay
        muted
        th:poster="@{/images/fly_on_clouds.jpg}"
      >
        <source th:src="@{/video/fly_on_clouds.mp4}" type="video/mp4" />
        <source th:src="@{/video/fly_on_clouds.webm}" type="video/webm" />
      </video>
    </div>

    <div class="bg-image" id="body-bg-image"></div>

    <div class="page-wrapper">
        <header id="page-header" th:replace="~{../static/fragments/header :: header}"></header>

      <main>
        <!-- Основной контет -->
        <div class="info-container success-registration-container">
          <h3 th:text="${username} + ', поздравляем с успешной регистрацией!'">Поздравляем с успешной регистрацией!</h3>
          <p>
            На ваш email<span th:text="'  ' + ${email} + '  '"> </span>выслано письмо с инструкциями об активации аккаунта.
          </p>
        </div>
      </main>

        <footer id="page-footer" th:insert="~{../static/fragments/footer :: footer}"></footer>
    </div>

    <!-- Форма поиска по сайту -->
    <div th:replace="~{../static/fragments/popups :: search-container}" class="search-container hide"></div>
    <!-- Форма входа юзера -->
    <div th:replace="~{../static/fragments/popups :: sign-in-container}" class="sign-in-container" id="sign-in-container"></div>
    <!-- Форма информации про пользователя -->
    <div th:replace="~{../static/fragments/popups :: user-information-container}" class="user-information-container" id="user-information-container"></div>
    <!-- Форма уведомлений -->
    <div th:replace="~{../static/fragments/popups :: notification-container}" class="notification-container"></div>

    <script
      src="https://kit.fontawesome.com/d6a7640edd.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    
  </body>

</html>
