<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация | Кабинет Искателя</title>

    <link
      rel="icon"
      th:href="@{/images/icon/al_vadud_vector_title.svg}"
      type="image/svg"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <script defer th:src="@{/js/main.js}"></script>
    <script type="module" th:src="@{/js/header.js}"></script>
  </head>

  <body class="page-user-sign-up">
    <div class="page-video">
      <video
        class="video"
        controls
        loop="loop"
        autoplay
        muted
        th:poster="@{/images/fly_on_clouds.jpg}"
      >
        <source th:src="@{/video/fly_on_clouds.mp4}" type="video/mp4" />
        <source th:src="@{/video/fly_on_clouds.webm}" type="video/webm" />
      </video>
    </div>

    <div class="bg-image" id="body-bg-image"></div>

    <div class="page-wrapper">
      <header
        id="page-header"
        th:replace="~{../static/fragments/header :: header}"
      ></header>

      <main>
        <!-- Форма регистрации -->
        <div class="main-content-wrapper registration-container">
          <header>Регистрация</header>

          <form id="reg-form" action="#">
            <div class="form first">
              <div class="details personal">
                <header class="title">Персональные данные</header>

                <div class="fields">
                  <div class="input-field">
                    <label>Имя пользователя<sup>*</sup></label>
                    <input
                      id="reg-form-username"
                      type="text"
                      placeholder="Введите имя пользователя"
                    />
                  </div>

                  <div class="input-field">
                    <label>Пароль<sup>*</sup></label>
                    <input
                      id="reg-form-password"
                      type="password"
                      placeholder="Введите пароль"
                    />
                    <i class="fa fa-eye-slash fa-xs" id="sign-up-password"></i>
                  </div>

                  <div class="input-field">
                    <label>Email<sup>*</sup></label>
                    <input
                      id="reg-form-email"
                      type="email"
                      placeholder="Введите свой email"
                    />
                  </div>

                  <div class="input-field">
                    <label>Имя</label>
                    <input type="text" placeholder="Введите своё имя" />
                  </div>

                  <div class="input-field">
                    <label>Фамилия</label>
                    <input type="text" placeholder="Введите свою фамилию" />
                  </div>

                  <div class="input-field">
                    <label>Дата рождения</label>
                    <input type="date" placeholder="дд.мм.гггг" />
                  </div>

                  <div class="input-field">
                    <label>Номер телефона</label>
                    <span class="validity"></span>
                    <input
                      id="reg-form-phone-number"
                      type="tel"
                      placeholder="+380664988869"
                    />
                  </div>

                  <div class="input-field">
                    <label>Пол<sup>*</sup></label>
                    <select id="reg-form-gender">
                      <option disabled selected>Выберите свой пол</option>
                      <option>Мужской</option>
                      <option>Женский</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="details ID">
                <header class="title reg-details-title">
                  Дополнительный данные
                </header>

                <div class="fields">
                  <div class="input-field">
                    <label>Аватар</label>
                    <input type="file" placeholder="Загрузите фото на аватар" />
                  </div>

                  <div class="input-field">
                    <label>Место нахождения</label>
                    <input
                      id="resident-city"
                      type="text"
                      placeholder="Начните вводить город..."
                    />
                    <div id="suggestions" class="suggestions"></div>
                  </div>

                  <div class="input-field">
                    <label>Дата начала учёбы в Школе</label>
                    <input type="date" />
                  </div>

                  <div class="input-field">
                    <label>Ваш куратор</label>
                    <select>
                      <option disabled selected>
                        Выберите своего куратора
                      </option>
                      <option>Руслан Жуковец</option>
                      <option>Алексей Киселёв</option>
                      <option>Александр Циганков</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="reg-necesseries-fields-container">
                <p><sup>*</sup> Обязательные поля для заполнения</p>
              </div>

              <button id="reg-submit-btn" class="nextBtn" type="submit">
                <span id="reg-submit-btn-span" class="btnText"
                  >Зарегистрироваться</span
                >
              </button>

              <div id="reg-error-msg-wrapper" class="error-msg-wrapper hide">
                <h4>
                  Для завершения регистрации исправьте ниже приведённые
                  замечания:
                </h4>
                <ol>
                  <li></li>
                </ol>
              </div>
            </div>
          </form>
        </div>
      </main>

      <footer
        id="page-footer"
        th:insert="~{../static/fragments/footer :: footer}"
      ></footer>
    </div>

    <!-- Форма поиска по сайту -->
    <div
      th:replace="~{../static/fragments/popups :: search-container}"
      class="search-container hide"
    ></div>
    <!-- Форма входа юзера -->
    <div
      th:replace="~{../static/fragments/popups :: sign-in-container}"
      class="sign-in-container"
      id="sign-in-container"
    ></div>
    <!-- Форма информации про пользователя -->
    <div
      th:replace="~{../static/fragments/popups :: user-information-container}"
      class="user-information-container"
      id="user-information-container"
    ></div>
    <!-- Форма уведомлений -->
    <div
      th:replace="~{../static/fragments/popups :: notification-container}"
      class="notification-container"
    ></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/d6a7640edd.js"
      crossorigin="anonymous"
    ></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
  </body>
</html>
