<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="page-header" id="page-header">
</header>

<!-- Форма поиска по сайту -->
<div th:fragment="search-container" class="search-container hide">
    <div class="search-field">
        <input id="input-search-field" type="text" placeholder="Поиск..." />
        <i
                class="bi bi-search"
                id="serach-start-icon"
                title="Поиск по сайту"
        ></i>
        <i class="bi bi-x hide"></i>
    </div>
</div>
<!-- Форма входа юзера -->
<div th:fragment="sign-in-container" class="sign-in-container" id="sign-in-container">
    <form class="sign-in-form" action="#">
        <h2>Авторизация</h2>
        <i class="bi bi-x-lg sign-in-form-cancel"></i>
        <div class="input-sign-in-field">
            <label>Введите електронную почту</label>
            <input type="text" id="sign-in-user-email-input" required />
        </div>
        <div class="input-sign-in-field">
            <label>Введите пароль</label>
            <input type="password" id="sign-in-password-input" required />
            <i
                    class="fa fa-eye-slash fa-xs"
                    id="sign-in-form-password-visibility-icon"
            ></i>
        </div>
        <div class="forget">
            <div>
                <input type="checkbox" id="remember" />
                <span>Запомнить меня</span>
            </div>
            <a class="sign-in-form-link" href="#">Забыли пароль?</a>
        </div>
        <button class="sign-in-button" type="submit">Войти</button>
        <div class="register">
            <p>У вас нет аккаунта?</p>
            <a class="sign-in-form-link" th:href="@{/tg_register}"
            >Зарегистрироваться
            </a>
        </div>
    </form>
</div>
<!-- Форма информации про пользователя -->
<div th:fragment="user-information-container" class="user-information-container" id="user-information-container">
    <i class="bi bi-x user-information-form-cancel"></i>
    <form class="user-information-form" id="user-information-form" action="#">
        <h2 class="user-information-form-title">
            Добро пожаловать,<br />
            Имя и Фамилия Искателя!
        </h2>
        <p class="user-information-content">user@gmailcom</p>
        <div class="user-information-links-container">
            <a class="user-fw-profile-link" th:href="@{/userProfile}">Профиль</a>
            <a class="sign-out-link" href="#">Выйти</a>
        </div>
    </form>
</div>
<!-- Форма уведомлений -->
<div th:fragment="notification-container" class="notification-container">
    <i class="bi bi-x-lg notification-form-cancel"></i>
    <form class="notification-form" action="#">
        <h2>Уведомления</h2>
        <div class="notification-items-wrapper">
            <p class="notification-title">Уведомление №1</p>
            <p class="notification-content">
                Практика с Послания Доверие не сделана
            </p>
        </div>
    </form>
</div>

</body>
</html>
